<h1>AT LEAST I'VE ARRIVED HERE</h1>
<div class="white-alpha flex-center">
    <form action="/artist-search" method="GET">
        <input type="text" name="artistName">
        <button type="submit">Search</button>
    </form>
</div>