<h1 class="text-white">Search your spotify artist</h1>
<div class="white-alpha flex-center">
    <form action="/artist-search" method="GET">
        <input type="text" name="artistName">
        <button class="btn btn-secondary" type="submit">Search</button>
    </form>
</div>